.message
  .message__top-info
    %p.message__top-info__user-name  name
    %p.message__top-info__date 2019-5/16
  %p.message__message-text message
.message
  .message__top-info
    %p.message__top-info__user-name  name
    %p.message__top-info__date 2019-5/16
  %p.message__message-text message