.wrapper
  .group-side
    .group-header
      %p.group-header__user-name 
        =current_user.name
      %ul.group-header__user-menu
        %li.user-menu__edit
          = link_to new_group_path do
            %i.far.fa-edit
        %li.user-menu__cog  
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
    .groups
      .group
        %p.group__group-name group-name
        %p.group__message-top message
      .group
        %p.group__group-name group-name
        %p.group__message-top message
  .chat-side
    .message-header
      .current-group
        %h2.current-group__group-name group-name
        %ul.current-group__members
          %li Member:
          %li.members__name name1
          %li.members__name name2
      = link_to root_path do
        .message-header__edit-btn
          %p Edit
    .messages
      = render partial: 'messages/message'
    .form
      %form.new-message{action: 'activation', method: 'post' }
        .input-box
          %input.input-box__message{placeholder: "type a message",type: "text",name: "message"}  
            %label.image-label{for: "upload-icon"}
              %i.far.fa-image
                %input.image-label{type:"file", id: "upload-icon"}
        %input.submit-btn{type: "submit", value: "send"}
